.controller {
  position: fixed;
  .controllerLabel {
    position: fixed;
    bottom: 4vh;
    right: 19vw;
    color: darkred;
    font-weight: 700;
    font-size: 2vh;
  }
  .button {
    cursor: pointer;
    box-shadow: 0 0 3px 1px #555;
    color: #474881;
    text-align: center;
    .label {
      font-size: .4em;
      position: relative;
      text-transform: uppercase;
    }
  }
  .button:hover {
    box-shadow: 0 0 5px 1px #333;
  }
  .button:active {
    box-shadow: 0 0 5px 1px #333 inset;
  }
  .d-pad {
    width: 3em;
    height: 3em;
    position: fixed;
    right: 33vw;
    bottom: 4vh;
    .d {
      width: 1em;
      height: 1em;
      background: #1d2323;
      position: absolute;
      border-top: 0.05em solid #7b9191;
      border-bottom: 0.05em solid black;
    }
    .d:hover,
    .d:active {
      background: #404d4d;
    }
    .fakeHover {
      background: #404d4d;
    }
    .up {
      left: 1em;
      top: 0;
      border-radius: .25em .25em 0 0;
    }
    .right {
      top: 1em;
      right: 0;
      border-radius: 0 .25em .25em 0;
    }
    .down {
      left: 1em;
      bottom: 0;
      border-radius: 0 0 .25em .25em;
    }
    .left {
      top: 1em;
      left: 0;
      border-radius: .25em 0 0 .25em;
    }
  }
  .control-buttons {
    position: fixed;
    right: 8vw;
    bottom: 5vh;
    background: #afb2b6;
    border-radius: 2em;
    .control {
      background: $main-buttoncolor;
      width: 1.5em;
      height: 1.5em;
      border-radius: 1.5em;
      float: right;
      margin: .25em;
      border-top: 0.05em solid $main-purple;
      border-bottom: 0.05em solid $main-darkpurple;
    }
    .control:hover,
    .control:active {
      background: $main-midpurple;
    }
    .label {
      bottom: -3.7vh;
      color: darkred;
      font-weight: 700;
      font-size: 2vh;
    }
  }
}