.gameDisplay {
  width: 50%;
  height: 10.2vh;
  margin-top: 2vh;
  margin-left: 5.5vw;
  padding-top: 1vh;
  border: 5px solid $main-green;
  background-color: #C0BA96;
  border-radius: 15px;
  padding-bottom: 1vh;
  text-align: center;
  .displayFonts {
    font-family: $font-title;
    color: $main-darkred;
  }
  .users {
    @extend .displayFonts;
  }
  .collected {
    @extend .displayFonts;
  }
  .user,
  .collect {
    margin: top 1vh;
    margin-left: 2vw;
  }
  .healthBar {
    margin: 0 auto;
    width: 90%;
    border: 5px solid darkslategray;
    border-radius: 10px;
  }
  .health {
    display: inline-block;
    height: 20px;
    font-size: 10pt;
    vertical-align: top;
    text-align: center;
    color: snow;
    padding-top: 0.5vh;
  }
  .healthLost {
    background-color: red;
    border-radius: 0 5px 5px 0;
    transition: width 1s ease-in-out;
  }
  .healthLeft {
    background-color: $main-green;
    border-radius: 5px 0 0 5px;
    transition: width 1s ease-in-out;
  }
}

canvas {
  display: block;
  margin: 1vh auto;
  border: 5px solid darkslategray;
  border-radius: 15px;
}

#game {
  width: 58vw;
}