$font-main: Neucha;
$font-title: Sigmar One;
$main-green: #006600;
$main-purple:#de88c1;
$main-darkpurple: #290b1f;
$main-midpurple: #8d266a;
$main-buttoncolor : #79215b;
$main-tan:#F1E7CD;
$main-darkred: darkred;