* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


/*TODO get reset CSS*/

body {
  margin: 0;
}

#game {
  margin-top: 5vh;
}

.game {
  width: 70%;
}

canvas {
  margin: 0 auto;
}


/* CHAT STYLING */

.chatBox {
  position: relative;
  margin-right: 5vw;
  /*margin-top: 5vh;*/
  height: 62vh;
  width: 30%;
  float: right;
}

.turnDisplay {
  padding-top: 8%;
  background: rgba(82, 179, 21, 0.7);
  z-index: 99;
  box-shadow: 0px 3px 0px lightslategray;
}

.messages,
.inputForm {
  background-color: #ECEFF1;
}

.messages {
  padding-top: 2%;
  height: 90%;
  overflow: scroll;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.messages ul {
  list-style-type: none;
}

.inputForm {
  margin-top: 0;
  width: 100%;
}

.inputForm input {
  width: 80%;
}

.inputForm .submitButton {
  width: 18%;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background: rgba(82, 179, 217, 0.9);
  z-index: 100;
  box-shadow: 1px 2px 0px #D4D4D4;
}

.chat {
  clear: both;
  margin-top: 5px;
  border-top-left-radius: 0px;
  box-shadow: -1px 2px 0px #D4D4D4;
}

.selfChat {
  font-weight: 700;
  border-bottom-right-radius: 0px;
  box-shadow: 1px 2px 0px #D4D4D4;
}

.selfChat .chatName {
  color: rebeccapurple;
}

.chat .chatName {
  font-weight: 700;
  color: cadetblue;
}

.messages .chatText {}

.messages .chatDate {
  font-style: italic;
  float: right;
  margin-right: 1vw;
}


/* map tester page */

ul.board {
  width: 500px;
  height: 500px;
  overflow: hidden;
  list-style-type: none;
}

ul.board li {
  float: left;
  width: 20%;
  height: 20%;
}

ul.board li.type1 {
  background: rgb(230, 230, 230);
}

ul.board li.type3 {
  background: rgb(25, 25, 25);
}

ul.board li.type6 {
  background: blue;
}


/*HEALTH BAR*/

.health {
  display: inline-block;
  height: 20px;
  font-size: 10pt;
  vertical-align: top;
  text-align: center;
  border-radius: 5px;
}

.healthLost {
  background-color: red;
  transition: width 1s ease-in-out;
}

.healthLeft {
  background-color: lightgreen;
  transition: width 1s ease-in-out;
}


/*NAVBAR*/

.nav {
  background-image: url('../images/scroll-h.png');
  background-size: 100% 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 18vh;
  z-index: 100;
}

.nav .navContent {
  position: relative;
  top: 3vh;
  width: 85vw;
  margin: 0 auto;
}

.userBadge,
.navLink,
.navTitle,
.userBadgeProfile,
.userNickname {
  display: inline-block;
}

.navTitle {
  font-family: 'Trebuchet MS';
  font-weight: 700;
  margin-top: 2vh;
}

.navLink {
  margin-top: 5vh;
  margin-left: 0.5vw;
}

.userBadge {
  position: absolute;
  right: 2vw;
  border: 2px solid green;
  border-radius: 5px;
  width: 25vw;
  height: 90%;
}

.userBadgeProfile,
.userNickname,
.login {
  margin: 0 auto;
}

.userBadgeProfile {
  margin-top: 1vh;
  margin-right: 1.5vw;
  height: 7vh;
  width: 7vh;
  border-radius: 7vh;
}

.userNickname {
  margin: 0;
}

.login {
  display: block;
}

.github {
  position: absolute;
  top: 0.88vh;
  right: 1.95vw;
  border: 0;
  height: 15vh;
  width: 15vh;
}


/* USER BADGES */

#boulder-badge,
#cascade-badge,
#thunder-badge,
#rainbow-badge,
#soul-badge,
#marsh-badge,
#volcano-badge,
#earth-badge {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  width: 240px;
  height: 240px;
  padding: 20px;
}

#boulder-badge .badge,
#cascade-badge .badge,
#thunder-badge .badge,
#rainbow-badge .badge,
#soul-badge .badge,
#marsh-badge .badge,
#volcano-badge .badge,
#earth-badge .badge {
  display: inline-block;
}

#boulder-badge h1,
#cascade-badge h1,
#thunder-badge h1,
#rainbow-badge h1,
#soul-badge h1,
#marsh-badge h1,
#volcano-badge h1,
#earth-badge h1 {
  font-family: Lato, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

#boulder-badge {
  background: #2d3e50;
}

#boulder-badge .badge {
  position: relative;
  width: 180px;
  height: 180px;
}

#boulder-badge .badge .part,
#boulder-badge .badge .part:before,
#boulder-badge .badge .part:after {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0);
}

#boulder-badge .badge .part {
  -webkit-transform-origin: center center 0;
  -moz-transform-origin: center center 0;
  -ms-transform-origin: center center 0;
  -o-transform-origin: center center 0;
  transform-origin: center center 0;
  top: 0;
  left: 50%;
  margin-left: -38px;
  border-width: 90px 38px 90px 38px;
}

#boulder-badge .badge .part:before {
  -webkit-transform: rotate(0.01deg);
  -moz-transform: rotate(0.01deg);
  -ms-transform: rotate(0.01deg);
  -o-transform: rotate(0.01deg);
  transform: rotate(0.01deg);
  /* Jagged edge fix */
  content: " ";
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -26px;
  border-width: 60px 26px 60px 26px;
  z-index: 10;
}

#boulder-badge .badge .part:after {
  -webkit-transform: rotate(0.01deg);
  -moz-transform: rotate(0.01deg);
  -ms-transform: rotate(0.01deg);
  -o-transform: rotate(0.01deg);
  transform: rotate(0.01deg);
  content: " ";
  top: 50%;
  left: 50%;
  margin-top: -39px;
  margin-left: -17px;
  border-width: 39px 17px 39px 17px;
  z-index: 20;
}

#boulder-badge .badge .part-1 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  border-top-color: #9f9d9e;
  border-bottom-color: #646263;
  z-index: 50;
}

#boulder-badge .badge .part-1:before {
  border-top-color: #878586;
  border-bottom-color: #595556;
}

#boulder-badge .badge .part-1:after {
  border-top-color: #8d8d8d;
  border-bottom-color: #7f7f7f;
}

#boulder-badge .badge .part-2 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-color: #858182;
  border-bottom-color: #898788;
  z-index: 40;
}

#boulder-badge .badge .part-2:before {
  border-top-color: #706e6f;
  border-bottom-color: #777576;
}

#boulder-badge .badge .part-2:after {
  border-top-color: #8d8d8d;
  border-bottom-color: #8d8d8d;
}

#boulder-badge .badge .part-3 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  border-top-color: #676364;
  border-bottom-color: #979596;
  z-index: 30;
}

#boulder-badge .badge .part-3:before {
  border-top-color: #595556;
  border-bottom-color: #838182;
}

#boulder-badge .badge .part-3:after {
  border-top-color: #7f7f7f;
  border-bottom-color: #8d8d8d;
}

#boulder-badge .badge .part-4 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  border-top-color: #615d5e;
  border-bottom-color: #a5a3a4;
  z-index: 20;
}

#boulder-badge .badge .part-4:before {
  border-top-color: #535152;
  border-bottom-color: #878586;
}

#boulder-badge .badge .part-4:after {
  border-top-color: #7f7f7f;
  border-bottom-color: #8d8d8d;
}

#boulder-badge .badge .part-shade {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 13px;
  margin-left: -6px;
  border-left-width: 0;
  border-top-color: #767475;
  border-bottom-color: #7b797a;
  z-index: 100;
}

#boulder-badge .badge .part-shade:before {
  margin-left: 0;
  border-left-width: 0;
  border-top-color: #656364;
  border-bottom-color: #6b696a;
}

#boulder-badge .badge .part-shade:after {
  margin-left: 0;
  border-left-width: 0;
  border-top-color: #7f7f7f;
  border-bottom-color: #7f7f7f;
}

#cascade-badge {
  background: #474749;
}

#cascade-badge .badge {
  position: relative;
  width: 145px;
  height: 200px;
}

#cascade-badge .badge .part {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0);
}

#cascade-badge .badge .part-1,
#cascade-badge .badge .part-2,
#cascade-badge .badge .part-3,
#cascade-badge .badge .part-4 {
  left: 50%;
}

#cascade-badge .badge .part-5,
#cascade-badge .badge .part-6,
#cascade-badge .badge .part-7,
#cascade-badge .badge .part-8 {
  right: 50%;
}

#cascade-badge .badge .part-1 {
  border-width: 60px 0 40px 37px;
  border-left-color: #39a8d5;
}

#cascade-badge .badge .part-2 {
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
  transform: rotate(13deg);
  top: 61px;
  margin-left: 4px;
  border-width: 0 48px 48px 27px;
  border-bottom-color: #25a2d2;
}

#cascade-badge .badge .part-3 {
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
  transform: rotate(13deg);
  top: 107px;
  margin-left: -9px;
  border-width: 63px 7px 0 69px;
  border-top-color: #0d9bcd;
}

#cascade-badge .badge .part-4 {
  top: 100px;
  border-width: 75px 0 24px 52px;
  border-left-color: #0697c9;
}

#cascade-badge .badge .part-5 {
  top: 100px;
  border-width: 75px 52px 24px 0;
  border-right-color: #25a2d2;
}

#cascade-badge .badge .part-6 {
  -webkit-transform: rotate(-13deg);
  -moz-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  -o-transform: rotate(-13deg);
  transform: rotate(-13deg);
  top: 107px;
  margin-right: -9px;
  border-width: 63px 69px 0 7px;
  border-top-color: #45acd9;
}